<!-- Vista de Ventana de Detalle de Pelicula o Serie -->
<h1>{{pelicula.nombre}}</h1>
<hr>

<div class="row">
  <!-- Por medio del id, se toma la imagen y nombre de la pelicula Seleccionada -->
   <div class="col-md-4">
     <img [src]="pelicula.img" class="img-fluid" [alt]="pelicula.nombre">
     <br><br>
     </div>

    <!--Primera tarjeta de informacion de pelicula seleccionada-->
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> Pelicula: {{pelicula.nombre}}</h5>
            <h6 class="card-subtitle mb-2">Genero: {{pelicula.genero}}</h6>
            <p class="card-text"> Actores: {{pelicula.actores}}</p>
          </div>
       </div>

        <hr>

      <!-- Configuracion de ventana para visualizar detalle de pelicula seleccionada -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title ">Episodios</h5>
              <div>
                <!-- Botones para Navegacion por Temporadas -->
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">Resumen</button>

                  <!-- Boton 1 para temporada 1 -->
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#info1">1</button>
                  <div class="modal fade" id="info1">
                    <div class="modal-dialog modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Temporada 1</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>

                        <!-- Informacion Temporada 1 -->
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-3.9">
                              <!-- Informacion Nombre de Capitulos Temporada 1 -->
                              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#Cap1" role="tab" aria-controls="v-pills-home" aria-selected="true">1) Piloto </a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#Cap2" role="tab" aria-controls="v-pills-profile" aria-selected="true">2) la hipotesis del gran cerebro</a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#Cap3" role="tab" aria-controls="v-pills-profile" aria-selected="true">3) Botas Peludas</a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#Cap4" role="tab" aria-controls="v-pills-profile" aria-selected="true">4) El pez luminoso</a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#Cap5" role="tab" aria-controls="v-pills-profile" aria-selected="true">5) Postulado de la Hamburguesa</a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#Cap6" role="tab" aria-controls="v-pills-profile" aria-selected="true">6) Paradigma de la tierra Media</a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#Cap7" role="tab" aria-controls="v-pills-profile" aria-selected="true">7) Experimento Saltamontes</a>
                                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="Cap8" role="tab" aria-controls="v-pills-messages" aria-selected="false">8) La polarización Cooperhofstadter</a>
                                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#Cap9" role="tab" aria-controls="v-pills-settings" aria-selected="false">9) La dualidad Jerusalén</a><b>_________________________________________________________________</b>
                              </div>
                            </div>
                            <div class="col-9">
                              <!-- Informacion Resumen de cada Capitulo -->
                              <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="Cap9" role="tabpanel" aria-labelledby="v-pills-home-tab">Leonard se siente un flechazo por su nueva vecina, pero su torpeza con las mujeres y sus amigos extraños dificultan sus intentos de ser amable con ella.</div>
                                <div class="tab-pane fade" id="Cap1" role="tabpanel" aria-labelledby="v-pills-profile-tab">Leonard intenta impresionar a Penny, pero cuando pide ayuda a Sheldon.</div>
                                <div class="tab-pane fade" id="Cap2" role="tabpanel" aria-labelledby="v-pills-messages-tab">Tras ver a Penny besando a un hombre, Leonard le pide salir a una chica que le rechaza brutalmente. Wolowitz intenta llevar a los chicos a bailar.</div>
                                <div class="tab-pane fade" id="Cap3" role="tabpanel" aria-labelledby="v-pills-settings-tab">El futuro de la vida en la vida exterior. Leonard debe tomar medidas drásticas para combatir el deseo de su amigo.</div>
                                <div class="tab-pane fade" id="Cap4" role="tabpanel" aria-labelledby="v-pills-settings-tab">Leonard teme que está perdiendo el tiempo con Penny, así que en el intento de nuevo con Leslie. Sheldon se enrabieta por cambiar de hamburguesería.</div>
                                <div class="tab-pane fade" id="Cap5" role="tabpanel" aria-labelledby="v-pills-settings-tab">Penny es una fiesta de Halloween que pone a prueba las escasas habilidades sociales de Leonard, Sheldon y sus amigos.</div>
                                <div class="tab-pane fade" id="Cap6" role="tabpanel" aria-labelledby="v-pills-settings-tab">Raj tiene una cita a ciegas que han sido organizados sus padres. Cuando supere su terror a hablar con ella, la chica se interesa por Sheldon.</div>
                                <div class="tab-pane fade" id="Cap7" role="tabpanel" aria-labelledby="v-pills-settings-tab">Sheldon reacciona a compartir con Leonard el reconocimiento de un proyecto conjunto. La intervención conciliadora de Penny empeora la situación.</div>
                                <div class="tab-pane fade" id="Cap8" role="tabpanel" aria-labelledby="v-pills-settings-tab">Sheldon está insoportable desde hace más de 15 años más inteligente que él. Los chicos buscan una forma de eliminar el problema.</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                    <!-- Boton 2 para temporada 2 -->
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#info2">2</button>
                  <div class="modal fade" id="info2">
                    <div class="modal-dialog modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Temporada 2</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-3.9">
                              <!-- Informacion Nombre de Capitulos Temporada 2 -->
                              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#Cap9" role="tab" aria-controls="v-pills-home" aria-selected="true">1) Inercia Matrimonial</a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#Cap1" role="tab" aria-controls="v-pills-profile" aria-selected="true">2) Oscilacion de la Sepearacion</a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#Cap2" role="tab" aria-controls="v-pills-profile" aria-selected="true">3) Botas Peludas</a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#Cap3" role="tab" aria-controls="v-pills-profile" aria-selected="true">4) Aproximacion al 2003</a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#Cap4" role="tab" aria-controls="v-pills-profile" aria-selected="true">5) Postulado de la Hamburguesa</a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#Cap5" role="tab" aria-controls="v-pills-profile" aria-selected="true">6) Paradigma de la tierra Media</a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#Cap6" role="tab" aria-controls="v-pills-profile" aria-selected="true">7) Experimento Saltamontes</a>
                                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="Cap7" role="tab" aria-controls="v-pills-messages" aria-selected="false">8) La polarización Cooperhofstadter</a>
                                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#Cap8" role="tab" aria-controls="v-pills-settings" aria-selected="false">9) La dualidad Jerusalén</a><b>_________________________________________________________________</b>
                              </div>
                            </div>
                           </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                    <!-- Boton 3 para temporada 3 -->
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#info3">3</button>
                  <div class="modal fade" id="info3">
                    <div class="modal-dialog modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Temporada 3</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-3.9">
                              <!-- Informacion Nombre de Capitulos Temporada 3 -->
                              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#Cap1" role="tab" aria-controls="v-pills-home" aria-selected="true">1) La resonancia de Spock</a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#Cap2" role="tab" aria-controls="v-pills-profile" aria-selected="true">2) la hipotesis del gran cerebro</a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#Cap3" role="tab" aria-controls="v-pills-profile" aria-selected="true">3) Botas Peludas</a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#Cap4" role="tab" aria-controls="v-pills-profile" aria-selected="true">4) El pez luminoso</a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#Cap5" role="tab" aria-controls="v-pills-profile" aria-selected="true">5) Postulado de la Hamburguesa</a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#Cap6" role="tab" aria-controls="v-pills-profile" aria-selected="true">6) Paradigma de la tierra Media</a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#Cap7" role="tab" aria-controls="v-pills-profile" aria-selected="true">7) La permutacion platonica</a>
                                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="Cap8" role="tab" aria-controls="v-pills-messages" aria-selected="false">8) La polarización Cooperhofstadter</a>
                                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#Cap9" role="tab" aria-controls="v-pills-settings" aria-selected="false">9) La dualidad Jerusalén</a><b>_________________________________________________________________</b>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

          <!-- Informacion General de Pelicula -->
          <ul>
            <p class="card-text">{{pelicula.bio}}</p>
            <a [routerLink]="['/peliculas']" class="btn btn-outline-secondary">Regresar</a>
          </ul>
        </div>
      </div>
    <br>
<!-- Implementacion de scroll -->
   <div data-spy="scroll" data-target="#navbar-example2" data-offset="0"></div>
